.adminBooking {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
        }
        
        li {
            border: 1px solid $color-yellow;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            div {
                padding: 20px;
            }
            p {
                color: $color-white;
                padding: 5px;
            }

            button {
                color: red;
                border: 1px solid $color-yellow;
                padding: 8px;
                background: none;
            }
        }
    }
}