.footer {
    background: $color-black;
    @include childCenter;
    flex-direction: column;
    border-top: 1px dashed $color-brown;

    .footer-container {
        @include childCenter;
        flex-direction: column;

        @media screen and (min-width: 1000px){
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    h2 {
        color: $color-orange;
        font-family: $font-1;
        font-weight: lighter;
        border-bottom: 1px solid $color-yellow;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 1000px){
            width: 50%;
        }

        p {
            width: 90%;
            text-align: center;
            color: $color-white;
            margin-bottom: 20px;
        }
    }

    .social {
        @include childCenter;
        flex-direction: column;
        margin-bottom: 30px;

        @media screen and (min-width: 1000px){
            width: 50%;
        }

        .social-icons {
            display: flex;
            justify-content: space-between;
        }

        i {
            font-size: 1.5rem;
            margin: 0 20px;

            @media screen and (min-width: 1000px){
                margin: 0 50px;
            }
        }
    }

    h3 {
        font-size: 1rem;
        font-family: $font-1;
        margin-bottom: 10px;
        color: $color-brown;
    }
}