.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 25px;
    height: 15px;
    position: relative;
    z-index: 100;
    transition: transform 0.9s ease;
    margin-right: 5px;

    @media screen and (min-width: 1000px){
      width: 80%;
    }
  
    .line {
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background-color: $color-white;
      transition: transform 0.9s ease;

      @media screen and (min-width: 1000px){
        display: none;
      }
    }
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background-color: $color-white;
      transition: transform 0.9s ease;

      @media screen and (min-width: 1000px){
        display: none;
      }
    }
  
    &:before {
      transform: translateY(-6px);
    }
  
    &:after {
      transform: translateY(6px);
    }
  
    &.open {
      .line {
        transform: rotate(45deg);
      }
  
      &:before {
        transform: translateY(0) rotate(45deg);
      }
  
      &:after {
        transform: translateY(0) rotate(-45deg);
      }

      ul {
        opacity: 1;
        visibility: visible;
        transform: translateY(63%);
        transition: transform 1.2s ease;
        background: rgba(0, 0, 0, 0.548);
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 25px;
      }

      li {
        text-align: center;
        padding: 5px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      opacity: 0;
      visibility: hidden;

      @media screen and (min-width: 1000px) {
        opacity: 1;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          margin: 0 20px;
        }
      }
    }

    a {
      color: $color-white;
      font-family: $font2; 

      &:hover {
        color: $color-yellow;
      }
    }
}


  