.slide-container {
    background: $color-black;    
}

.imgStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 5px;
    height: 400px;
    width: 90%;
    margin: 15px auto;

    @media screen and (min-width: 625px){
        height: 600px;
    }

}