.cardMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        margin-bottom: 20px;
        color: $color-yellow;
    }

    button {
        cursor: pointer;
        border: 1px solid $color-yellow;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        color: $color-orange;
    }
}