@font-face {
  font-family: "font-Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "font-roboto";
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #21201e;
}

.logo {
  font-family: "font-Allura", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 10px;
  color: rgb(243, 226, 221);
}

.header {
  height: 100vh;
  background: url(../../img/bg.jpg) center/cover;
}
.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.548);
  margin: 0 auto;
  z-index: 100;
}

.header-text {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.header-text h1, .header-text h6 {
  color: rgb(243, 226, 221);
  font-family: "font-Allura", sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
}
@media screen and (min-width: 430px) {
  h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 625px) {
  h1 {
    font-size: 8rem;
  }
}

h6 {
  font-size: 1.5rem;
}
@media screen and (min-width: 430px) {
  h6 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 625px) {
  h6 {
    font-size: 3rem;
  }
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 25px;
  height: 15px;
  position: relative;
  z-index: 100;
  transition: transform 0.9s ease;
  margin-right: 5px;
}
@media screen and (min-width: 1000px) {
  .hamburger-menu {
    width: 80%;
  }
}
.hamburger-menu .line {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(243, 226, 221);
  transition: transform 0.9s ease;
}
@media screen and (min-width: 1000px) {
  .hamburger-menu .line {
    display: none;
  }
}
.hamburger-menu:before, .hamburger-menu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(243, 226, 221);
  transition: transform 0.9s ease;
}
@media screen and (min-width: 1000px) {
  .hamburger-menu:before, .hamburger-menu:after {
    display: none;
  }
}
.hamburger-menu:before {
  transform: translateY(-6px);
}
.hamburger-menu:after {
  transform: translateY(6px);
}
.hamburger-menu.open .line {
  transform: rotate(45deg);
}
.hamburger-menu.open:before {
  transform: translateY(0) rotate(45deg);
}
.hamburger-menu.open:after {
  transform: translateY(0) rotate(-45deg);
}
.hamburger-menu.open ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(63%);
  transition: transform 1.2s ease;
  background: rgba(0, 0, 0, 0.548);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 25px;
}
.hamburger-menu.open li {
  text-align: center;
  padding: 5px;
}
.hamburger-menu ul {
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 1000px) {
  .hamburger-menu ul {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger-menu ul li {
    margin: 0 20px;
  }
}
.hamburger-menu a {
  color: rgb(243, 226, 221);
  font-family: "font-roboto", serif;
}
.hamburger-menu a:hover {
  color: #F6AA1C;
}

.section-1 {
  width: 90%;
  background: rgb(243, 226, 221);
  border: 1px dashed #621708;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.section-1 h2 {
  color: #621708;
  font-family: "font-Allura", sans-serif;
  font-size: 2rem;
  margin-top: 40px;
}
.section-1 span img {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}
.section-1 p {
  width: 80%;
  text-align: center;
  font-family: "font-roboto", serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.section-1 img {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-bottom: 15px;
  border-radius: 50%;
}
.section-1 h3 {
  font-family: "font-Allura", sans-serif;
  margin-bottom: 40px;
  font-weight: lighter;
  font-size: 1.3rem;
}

.slide-container {
  background: #21201e;
}

.imgStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border-radius: 5px;
  height: 400px;
  width: 90%;
  margin: 15px auto;
}
@media screen and (min-width: 625px) {
  .imgStyle {
    height: 600px;
  }
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../img/bg2.jpg) center/cover;
}
.menus h2 {
  color: #BC3908;
  font-family: "font-Allura", sans-serif;
  font-size: 2rem;
  margin-top: 40px;
  font-weight: 200;
  border-bottom: 1px solid #F6AA1C;
}
@media screen and (min-width: 1000px) {
  .menus h2 {
    font-size: 2.5rem;
  }
}
.menus span {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
.container .bloc-tabs {
  display: flex;
}
.container .bloc-tabs button {
  border: none;
  color: #F6AA1C;
  font-family: "font-Allura", sans-serif;
  font-size: 1.7rem;
}
@media screen and (min-width: 1000px) {
  .container .bloc-tabs button {
    font-size: 2.2rem;
  }
}
.container .bloc-tabs .tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(0, 0, 0, 0.521);
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.container .bloc-tabs .active-tabs {
  position: relative;
}
.container .bloc-tabs .active-tabs::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  border-radius: 10px;
  background: #BC3908;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 0.6s ease forwards;
}
@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}
.container .content-tabs .content {
  display: none;
}
.container .content-tabs .active-content {
  display: block;
}

.lunchCard {
  background: rgb(243, 226, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.lunchCard .borderLunch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px dashed #621708;
  margin: 20px 0;
}
@media screen and (min-width: 680px) {
  .lunchCard .borderLunch {
    width: 70%;
  }
}
.lunchCard .borderLunch h1 {
  font-size: 2rem;
  font-family: "font-Allura", sans-serif;
  color: #BC3908;
  margin: 30px 0;
}
@media screen and (min-width: 680px) {
  .lunchCard .borderLunch h1 {
    font-size: 2.8rem;
  }
}
.lunchCard .borderLunch p {
  font-family: "font-roboto", serif;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .lunchCard .borderLunch p {
    font-size: 1.2rem;
  }
}
.lunchCard .borderLunch h3 {
  margin-top: 30px;
  font-size: 2rem;
}
@media screen and (min-width: 680px) {
  .lunchCard .borderLunch h3 {
    font-size: 2.3rem;
  }
}
.lunchCard .borderLunch h2 {
  border-bottom: 1px solid #F6AA1C;
  margin: 30px 0;
}
@media screen and (min-width: 680px) {
  .lunchCard .borderLunch h2 {
    font-size: 2.3rem;
  }
}
.lunchCard .borderLunch div {
  width: 90%;
  display: flex;
  align-items: center;
}
.lunchCard .borderLunch div .reglageImg {
  width: 70px;
  height: 70px;
  aspect-ratio: 1/1;
  margin: 5px;
}
@media screen and (min-width: 680px) {
  .lunchCard .borderLunch div .reglageImg {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .lunchCard .borderLunch div .reglageImg {
    width: 150px;
    height: 150px;
  }
}
.lunchCard .borderLunch div div {
  margin-left: 15px;
  justify-content: center;
}
.lunchCard .borderLunch h4 {
  font-family: "font-Allura", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.lunchCard .borderLunch button {
  cursor: pointer;
  border: 1px solid #F6AA1C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  color: #BC3908;
}
@media screen and (min-width: 680px) {
  .lunchCard .borderLunch button {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1000px) {
  .lunchCard .borderLunch button {
    font-size: 1.3rem;
  }
}

.dinerCard {
  background: rgb(243, 226, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.dinerCard .borderDiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px dashed #621708;
  margin: 20px 0;
}
@media screen and (min-width: 680px) {
  .dinerCard .borderDiner {
    width: 70%;
  }
}
.dinerCard .borderDiner h1 {
  font-size: 2rem;
  font-family: "font-Allura", sans-serif;
  color: #BC3908;
  margin: 20px 0;
}
@media screen and (min-width: 680px) {
  .dinerCard .borderDiner h1 {
    font-size: 2.8rem;
  }
}
.dinerCard .borderDiner h2 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-bottom: 1px solid #F6AA1C;
}
@media screen and (min-width: 680px) {
  .dinerCard .borderDiner h2 {
    font-size: 2.3rem;
  }
}
.dinerCard .borderDiner .diner {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.dinerCard .borderDiner p, .dinerCard .borderDiner h3 {
  font-family: "font-roboto", serif;
  font-size: 1rem;
}
.dinerCard .borderDiner p {
  margin-left: 15px;
}
@media screen and (min-width: 680px) {
  .dinerCard .borderDiner p {
    font-size: 1.2rem;
  }
}
.dinerCard .borderDiner h3 {
  margin-right: 15px;
}
.dinerCard .borderDiner h4 {
  font-family: "font-Allura", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.dinerCard .borderDiner button {
  cursor: pointer;
  border: 1px solid #F6AA1C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  color: #BC3908;
}
@media screen and (min-width: 680px) {
  .dinerCard .borderDiner button {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1000px) {
  .dinerCard .borderDiner button {
    font-size: 1.3rem;
  }
}

.drinksCard {
  background: rgb(243, 226, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.drinksCard .borderDrink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px dashed #621708;
  margin: 20px 0;
}
@media screen and (min-width: 680px) {
  .drinksCard .borderDrink {
    width: 70%;
  }
}
.drinksCard .borderDrink h1 {
  font-size: 2rem;
  font-family: "font-Allura", sans-serif;
  color: #BC3908;
  margin: 20px 0;
}
@media screen and (min-width: 680px) {
  .drinksCard .borderDrink h1 {
    font-size: 2.8rem;
  }
}
.drinksCard .borderDrink h2 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-bottom: 1px solid #F6AA1C;
}
@media screen and (min-width: 680px) {
  .drinksCard .borderDrink h2 {
    font-size: 2.3rem;
  }
}
.drinksCard .borderDrink .order-boissons {
  width: 90%;
}
.drinksCard .borderDrink .boissons {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.drinksCard .borderDrink p, .drinksCard .borderDrink h3 {
  font-family: "font-roboto", serif;
  font-size: 1rem;
}
.drinksCard .borderDrink p {
  margin-left: 15px;
}
@media screen and (min-width: 680px) {
  .drinksCard .borderDrink p {
    font-size: 1.2rem;
  }
}
.drinksCard .borderDrink h3 {
  margin-right: 15px;
}
.drinksCard .borderDrink h4 {
  font-family: "font-Allura", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.drinksCard .borderDrink button {
  cursor: pointer;
  border: 1px solid #F6AA1C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  color: #BC3908;
}
@media screen and (min-width: 680px) {
  .drinksCard .borderDrink button {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1000px) {
  .drinksCard .borderDrink button {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1000px) {
  .sections {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.timeMenus {
  background: #21201e;
}
@media screen and (min-width: 1000px) {
  .timeMenus {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px auto;
  }
}

.top {
  position: relative;
}
.top i {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border: 1px solid #BC3908;
  border-radius: 50px;
  color: #BC3908;
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardMenu p {
  text-align: center;
  margin-bottom: 20px;
  color: #F6AA1C;
}
.cardMenu button {
  cursor: pointer;
  border: 1px solid #F6AA1C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  color: #BC3908;
}

.timeOpen {
  background: #21201e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeOpen .timeContainer {
  background: black;
  width: 90%;
  margin-top: 20px;
  border-radius: 5px;
}
@media screen and (min-width: 625px) {
  .timeOpen .timeContainer {
    margin-top: 0;
  }
}
.timeOpen .timeContainer .border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #621708;
  border-radius: 5px;
  width: 90%;
  margin: 20px auto;
}
.timeOpen .timeContainer .border h2 {
  color: #BC3908;
  font-family: "font-Allura", sans-serif;
  margin-top: 30px;
  border-bottom: 1px solid #F6AA1C;
  font-size: 2rem;
  font-weight: lighter;
}
.timeOpen .timeContainer .border span {
  margin-top: 40px;
}
.timeOpen .timeContainer .border h3 {
  color: #BC3908;
  font-family: "font-roboto", serif;
  margin: 40px 0;
  border-bottom: 1px solid #F6AA1C;
  font-weight: lighter;
}
@media screen and (min-width: 625px) {
  .timeOpen .timeContainer .border h3 {
    margin: 60px 0;
    font-size: 1.1rem;
  }
}
.timeOpen .timeContainer .border p {
  color: rgb(243, 226, 221);
  font-family: "font-roboto", serif;
}
@media screen and (min-width: 625px) {
  .timeOpen .timeContainer .border p {
    font-size: 1rem;
  }
}
.timeOpen .timeContainer .border .phone {
  cursor: pointer;
}

.form-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background: #21201e;
}
@media screen and (min-width: 1000px) {
  .form-infos {
    padding: 0;
  }
}
.form-infos .form-infos-container {
  width: 90%;
  background: rgb(243, 226, 221);
  margin-top: 20px;
  border-radius: 5px;
}
@media screen and (min-width: 1000px) {
  .form-infos .form-infos-container {
    height: 100%;
    margin: 0;
  }
}
.form-infos .form-infos-container .borderForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #621708;
  border-radius: 5px;
  width: 90%;
  margin: 20px auto;
}
.form-infos .form-infos-container h2 {
  font-family: "font-Allura", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: #BC3908;
  text-align: center;
  margin: 30px 0;
}
.form-infos .form-infos-container h3 {
  color: #21201e;
  font-family: "font-roboto", serif;
  font-size: 1.3rem;
  text-align: center;
}
.form-infos .form-infos-container span {
  margin-top: 20px;
}
.form-infos .form-infos-container .form-inputs {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
}
@media screen and (min-width: 620px) {
  .form-infos .form-infos-container .form-inputs {
    grid-template-columns: 1fr 1fr;
  }
}
.form-infos .form-infos-container .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #21201e;
}
.form-infos .form-infos-container button {
  border: none;
  border-radius: 50px;
  background: #21201e;
  color: #BC3908;
  padding: 10px 28px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  .form-infos .form-infos-container button {
    margin: 20px;
    margin-bottom: 35px;
  }
}
.form-infos .form-infos-container button:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.footer {
  background: #21201e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #621708;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer h2 {
  color: #BC3908;
  font-family: "font-Allura", sans-serif;
  font-weight: lighter;
  border-bottom: 1px solid #F6AA1C;
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .footer .text {
    width: 50%;
  }
}
.footer .text p {
  width: 90%;
  text-align: center;
  color: rgb(243, 226, 221);
  margin-bottom: 20px;
}
.footer .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  .footer .social {
    width: 50%;
  }
}
.footer .social .social-icons {
  display: flex;
  justify-content: space-between;
}
.footer .social i {
  font-size: 1.5rem;
  margin: 0 20px;
}
@media screen and (min-width: 1000px) {
  .footer .social i {
    margin: 0 50px;
  }
}
.footer h3 {
  font-size: 1rem;
  font-family: "font-Allura", sans-serif;
  margin-bottom: 10px;
  color: #621708;
}/*# sourceMappingURL=index.css.map */