@font-face {
  font-family: "font-Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "font-roboto";
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(243, 226, 221);
}

.logo {
  font-family: "font-Allura", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 10px;
  color: rgb(243, 226, 221);
}

.header {
  height: 100vh;
  background: url(../../img/bg.jpg) center/cover;
}
.header nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 10%;
  background: rgba(0, 0, 0, 0.548);
  margin: 0 auto;
}

.header-text {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.header-text h1, .header-text h6 {
  color: rgb(243, 226, 221);
  font-family: "font-Allura", sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h6 {
  font-size: 1.5rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 25px;
  height: 15px;
  position: relative;
  z-index: 100;
  transition: transform 0.9s ease;
  margin-right: 5px;
}
.hamburger-menu .line {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(243, 226, 221);
  transition: transform 0.9s ease;
}
.hamburger-menu:before, .hamburger-menu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(243, 226, 221);
  transition: transform 0.9s ease;
}
.hamburger-menu:before {
  transform: translateY(-6px);
}
.hamburger-menu:after {
  transform: translateY(6px);
}
.hamburger-menu.open .line {
  transform: rotate(45deg);
}
.hamburger-menu.open:before {
  transform: translateY(0) rotate(45deg);
}
.hamburger-menu.open:after {
  transform: translateY(0) rotate(-45deg);
}
.hamburger-menu.open ul {
  opacity: 1;
  visibility: visible;
  transform: translateX(-40px);
  transition: transform 1.2s ease;
  background: rgba(0, 0, 0, 0.548);
}
.hamburger-menu.open li {
  padding-top: 8px;
}
.hamburger-menu ul {
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: 140px;
}
.hamburger-menu li {
  color: rgb(243, 226, 221);
  font-family: "font-roboto", serif;
}
.hamburger-menu li:hover {
  color: #F6AA1C;
}

.section-1 {
  width: 90%;
  border: 1px dashed #621708;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
}
.section-1 h2 {
  color: #621708;
  font-family: "font-Allura", sans-serif;
  font-size: 2rem;
  margin-top: 40px;
}
.section-1 span img {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}
.section-1 p {
  width: 80%;
  text-align: center;
  font-family: "font-roboto", serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.section-1 img {
  width: 80px;
  height: 80px;
  margin: 40px 0;
  border-radius: 50%;
}
.section-1 h3 {
  font-family: "font-roboto", serif;
  margin-bottom: 40px;
}

.slide-container {
  background: #21201e;
}

.imgStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  width: 90%;
  margin: 0 auto;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../img/bg2.jpg) center/cover;
}
.menus h2 {
  color: #BC3908;
  font-family: "font-Allura", sans-serif;
  font-size: 2rem;
  margin-top: 40px;
  font-weight: 200;
}
.menus span {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
.container .bloc-tabs {
  display: flex;
}
.container .bloc-tabs button {
  border: none;
  color: #F6AA1C;
  font-family: "font-Allura", sans-serif;
  font-size: 1.7rem;
}
.container .bloc-tabs .tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(0, 0, 0, 0.521);
  cursor: pointer;
  position: relative;
}
.container .bloc-tabs .active-tabs {
  position: relative;
}
.container .bloc-tabs .active-tabs::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  border-radius: 10px;
  background: #BC3908;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 0.6s ease forwards;
}
@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}
.container .content-tabs .content {
  display: none;
}
.container .content-tabs .active-content {
  display: block;
}

.lunchCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(243, 226, 221);
  border: 1px dashed #BC3908;
}
.lunchCard h1 {
  font-size: 2rem;
  font-family: "font-Allura", sans-serif;
  color: #BC3908;
  margin: 30px 0;
}
.lunchCard p {
  font-family: "font-roboto", serif;
}
.lunchCard h3 {
  margin-top: 30px;
  font-size: 2rem;
}
.lunchCard h2 {
  border-bottom: 1px solid #F6AA1C;
  margin: 30px 0;
}
.lunchCard div {
  width: 90%;
  display: flex;
  align-items: center;
}
.lunchCard div img {
  height: 70px;
  width: 70px;
  display: block;
}
.lunchCard div div {
  margin-left: 15px;
  justify-content: center;
}
.lunchCard h4 {
  font-family: "font-Allura", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.lunchCard button {
  cursor: pointer;
  border: 1px solid #F6AA1C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  color: #BC3908;
}

.drinksCard {
  background: rgb(243, 226, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #BC3908;
}
.drinksCard h1 {
  font-size: 2rem;
  font-family: "font-Allura", sans-serif;
  color: #BC3908;
  margin: 20px 0;
  text-align: center;
}
.drinksCard h2 {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  border-bottom: 1px solid #F6AA1C;
}
.drinksCard .order-boissons {
  width: 90%;
}
.drinksCard .boissons {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.drinksCard p, .drinksCard h3 {
  font-family: "font-roboto", serif;
  font-size: 1rem;
}
.drinksCard p {
  margin-left: 15px;
}
.drinksCard h3 {
  margin-right: 15px;
}
.drinksCard h4 {
  font-family: "font-Allura", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.drinksCard button {
  cursor: pointer;
  border: 1px solid #F6AA1C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  color: #BC3908;
}

.top {
  width: 100%;
  height: 70px;
  position: relative;
}
.top i {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border: 1px solid #BC3908;
  border-radius: 50px;
  color: #BC3908;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */